/ducka/ducka.lv2/ducka.so
/ducka/ducka.lv2/ducka_ui.so
/roomy/roomy.lv2/roomy.so
/roomy/roomy.lv2/roomy_ui.so
/masha/masha.lv2/masha.so
/masha/masha.lv2/masha_ui.so
/filta/filta.lv2/filta.so
/filta/filta.lv2/filta_ui.so
/satma/satma.lv2/satma.so
/satma/satma.lv2/satma_ui.so
/della/della.lv2/della.so
/della/della.lv2/della_ui.so
/kuiza/kuiza.lv2/kuiza.so
/kuiza/kuiza.lv2/kuiza_ui.so
